<!doctype html>
<html lang=ru>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Крестики-нолики</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="tic-tac-toe">
  <div class="play-field">
    <div class="cell"
         v-for="(cell, index) in cells"
         @click.once="catchClick(index)"
    >
      <div class="figure"
           :class="'figure_' + cell"
      ></div>
    </div>
    <div class="win" v-if="gameEnded"></div>
  </div>
  <div class="win-text">
    <span v-if="!gameEnded">Сейчас ходит: {{checkWhoseMove}}</span>
    <span v-if="gameEnded && whoWin">Победил: {{whoWin}}!</span>
    <span v-if="gameEnded && !whoWin">Ничья</span>
  </div>
  <button class="reboot" @click="reboot">
    Играть снова
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>
